
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Edit your desc</h1>
        <% include ./partials/messages %>
        <%= user.name %>
        <form action="/edit" method="POST" enctype="multipart/form-data">
            <div class="form-group">
            <label for="desc">Description</label>
            <textarea
                id="desc"
                name="desc"
                class="form-control"
                placeholder="description"
            ><%=user.desc%></textarea>
            </div>

            Ustaw profilowe:
            <div class="form-group" style="position:relative">
                    <input
                      type="file"
                      id="profile"
                      name="profile"
                      class="custom-file-input"
                    />
                    <label for="profile" class="custom-file-label">choose photo</label>
      
                </div>
            <button type="submit" class="btn btn-info btn-block">edit</button>
        </form>
        <a class="btn btn-danger btn-block" href="/dashboard">back</a>

        </div>
    </div>
</div>