
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href="/dashboard">Dashboard</a>

            <div class="navbar">
                    <a class="nav-link" href="/<%= nickname %>">Your profile</a>
                    <a class="nav-link" href="/photos">Add photo</a>
                    <a class="nav-link" href="/profiles">Profiles</a>
                    <a class="nav-link" href="/users/logout">Logout</a></li>
                
            </div>
        </div>

    </nav>
</header>


<div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
            <h1 class="text-center mb-3">
              <i class="fas fa-user-plus"></i> add photo
            </h1>
            <% include ./partials/messages %>
            <form action="/photos" method="POST" enctype="multipart/form-data">
              
              <div class="form-group" style="position:relative">
                  <input
                    type="file"
                    id="photos"
                    name="photos"
                    class="custom-file-input"
                    value="<%= typeof name != 'undefined' ? name : '' %>"
                  />
                  <label for="photos" class="custom-file-label">choose photo</label>
    
              </div>
              <button type="submit" class="btn btn-info btn-block">
                Add
              </button>
            </form>
           </div>
        </div>
      </div>